body {
  margin: 0;
  background: rgba(1,3,38,1);
}

canvas {
  border: 3px solid black;
  background: url('../bg2.jpg') no-repeat;
  background-size: cover;

}

.hide {
  display: none;
}

.gamefield {
  position: absolute;
  z-index: 1;
}

.startMenu{
  position: absolute;
  background: rgba(0,0,0, .85);
  border: 3px solid black;
  z-index: 2;
}

.start {
  width: 100px;
  height: 50px;
  background: red;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff
}

.gameIntarface {
  position: absolute;
  background: rgba(0,0,0, .85);
  border: 3px solid black;
  z-index: 2;
}

.restart {
  width: 100px;
  height: 50px;
  background: red;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff
}

.continue {
  width: 100px;
  height: 50px;
  background: red;
  margin: 0 auto;
  margin-top: 50px;
}

.exit {
  width: 100px;
  height: 50px;
  background: red;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-size: 24px;
  color: #fff
}

.score {
  position: absolute;
  color: #fff;
  font-size: 32px;
}

.lives {
  position: absolute;
  list-style-type: none;
  padding: 0;
}

.lives li {
  height: 30px;
  width: 25px;
  display: inline-block;
}

.hasLive {
  background: url('../live.png') center no-repeat;
}

.noLive {
  background: url('../noLive.png') center no-repeat;
}
