.MainMenu{
  background: url('../../images/bodyFon.jpg');
  border: 3px solid black;
  z-index: 2;
  width: inherit;
  height: inherit;
}

.MainMenuBg {
  position: absolute;
  width: inherit;
  height: inherit;
  background: rgba(0,0,0,.5);
}

.start, .bestScore, .options, .about {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 26px;
  color: #fff
}

.bestScore, .options {
  text-shadow: 2px 2px 6px #b82727, -2px -2px 6px #b82727, -2px 2px 6px #b82727, 2px -2px 6px #b82727;
}

.start {
  margin-top: 100px;
}

.start span:hover, .about span:hover {
  cursor: url('../../images/cursor-pointer.png'), pointer;
  text-shadow: 2px 2px 6px #4eb236, -2px -2px 6px #4eb236, -2px 2px 6px #4eb236, 2px -2px 6px #4eb236;
}
