#nextLevel {
  position: absolute;
  background: url('../../images/boxBg.png');
  border: 3px solid black;
  z-index: 2;
  width: inherit;
  height: inherit;
}

#nextLevel .lost {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-size: 54px;
  color: #fff;
  text-shadow: 2px 2px 6px #4eb236, -2px -2px 6px #4eb236, -2px 2px 6px #4eb236, 2px -2px 6px #4eb236;
}

#nextLevel .restart {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-size: 26px;
  color: #fff
}

#nextLevel .exit {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 26px;
  color: #fff
}

#nextLevel .resultScore {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  font-size: 32px;
  color: #fff
}

#nextLevel .resultScore span {
  text-shadow: 2px 2px 6px #4eb236, -2px -2px 6px #4eb236, -2px 2px 6px #4eb236, 2px -2px 6px #4eb236;
}

#nextLevel .exit span:hover, #nextLevel .restart span:hover{
  cursor: url('../../images/cursor-pointer.png'), pointer;
  text-shadow: 2px 2px 6px #4eb236, -2px -2px 6px #4eb236, -2px 2px 6px #4eb236, 2px -2px 6px #4eb236;
}


.level1 {
  background: url('../../images/bg2.jpg') no-repeat;
}

.level2 {
  background: url('../../images/bg4.jpg') no-repeat;
}

.level3 {
  background: url('../../images/bg.jpg') no-repeat;
}

.level4 {
  background: url('../../images/bg3.jpg') no-repeat;
}

.level5 {
  background: url('../../images/bg5.jpg') no-repeat;
}
